html{
    font-family: Arial, Helvetica, sans-serif;

}
#JSONButton{
    margin-top: 10px;
    background-color: teal;
    opacity: 70%;
}

#HTMLButton{
    margin-top: 10px;
    background-color: teal;
    opacity: 70%;
   
}


label{
    color: teal;
    
}

p{
    margin-top: 50px;
}